__pycache__
archived_code
wandb

# Work on MAM + gwa analysis
gwaMAManalysis/

# datasets
GWA_Dataset_small
meshdataset
ValidationDataset/audio_recordings/*
ValidationDataset/deconvolved_audio_recs/*

models

